@using OdeToFood.Models
@model OdeToFood.ViewModels.HomeIndexViewModel

@{
	ViewBag.Title = "Home page";
}
@foreach (var restaurant in Model.Restaurants)
{
	@Html.Partial("_Summary", restaurant);
}

<div>
	<a asp-action="Create">Add restaurant</a>
</div>